<h2>Welcome, <%= @user_name %></h2>
<h3>All Services</h3>

<ul>
  <% @services.each do |s| %>
    <li>
      <%= link_to s.title, service_path(s) %> — <%= number_to_currency(s.price) %> by <%= s.poster %>
    </li>
  <% end %>
</ul>

<%= link_to 'Create New Service', new_service_path, class: 'btn btn-primary' %>
<%= link_to 'Reviews', reviews_path, class: 'btn btn-primary' %>
<%= link_to 'Logout', logout_path, class: 'btn btn-outline-secondary' %>