<!DOCTYPE html>
<html>
  <head>
    <title>LionHelp!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%# Use session state to decide which navbar to render %>
    <% if session[:user_name].present? %>
      <%= render 'layouts/loggedoutnav' %>  <%# Navbar for signed-in users %>
    <% else %>
      <%= render 'layouts/loginnav' %> <%# Navbar for guests %>
    <% end %>

    <div class="container mt-4">
      <%= render 'layouts/flash' %>
      <main id="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
